# Kresek License System Configuration
HWID="08D94D56-4D17-0252-5F64-E88CBE8A6CE5"
VER="136"

# API Endpoints
API_BASE="https://activation.kresek.my.id:2104"
API_LOGIN="$API_BASE/api/license/login"
API_ACTIVATE="$API_BASE/api/license/activate"
API_VALIDATE="$API_BASE/api/license/validate"

# License File
LICENSE_FILE="/usr/src/.kresek/.license.key"

# Paths
ACTIVATION_SCRIPT="/usr/src/.kresek/src/activation.sh"
AUTO_SCRIPT="/usr/src/.kresek/src/auto-activate.sh"

# Mode
DEV_MODE="false"
